body {
  text-align: center;
  padding: 30px;
  background-color: black;
  font-family: "Trebuchet MS";
}

h1 {
  color: pink;
  font-weight: bold;
}

#message-el {
  color: pink;
}
p {
  color: pink;
}

.buttons-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  width: 150px;
  color: pink;
  background-color: black;
  border: 1px solid pink;
  padding: 7px;
  font-weight: 800;
  border-radius: 3px;
  margin: 2px;
}
button:hover {
  color: black;
  background-color: pink;
  cursor: pointer;
}
